:root {
    --primary-color: #FF9F3E;
    --secondary-color: #4464AD;
    --accent1-color: #FFFFFF;
    --accent2-color: #37392D;
    --accent3-color: #ccc;
}


h1 {
    
    color: var(--secondary-color);
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    
}

h2 {
    color: var(--secondary-color);
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}


p {
    color: var(--accent2-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

figcaption {
    color: var(--accent2-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 8px;
    padding-left: 75px;
}

header{
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 0.5fr 1fr 2.5fr 0.5fr;
	align-items: center;
	border-bottom: 1px solid var(--accent3-color);
	max-width: 1000px;
}

header img{
    grid-column-start: 2;
    height: 120px;
    width: auto;
}

section{
    width: 80%;
    margin-left: 10%;
}

section img{
    display: block;
    margin-left: 20%;
    width:60%;

}

footer {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr 40px 1fr;
    align-content: center;
}

footer p {
    color: var(--accent1-color);
    padding-top: 3%;
    text-align: center;
    grid-column: 2;
}

footer nav {
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-items: right;
    grid-column-start: 4;
}

footer img {
    width: 45px;
}

form {
    width: 450px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    text-align: left;
    color: var(--accent2-color);
    padding-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
}

label, input, button, select, textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

label {
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 5px;
}

input, textarea {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-color:var(--accent3-color);
    border-width: 1px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color:var(--accent2-color);
    color: var(--accent1-color);
    border-radius: .5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

button:hover {
    background-color:var(--primary-color);
}

/*Class Selectors*/
.navigation{
    grid-column-start: 3;
    text-align: right;
    display: flex;
	list-style: none;
    align-content: space-around;
}

.navigation a {
	display: block;
	color: var(--secondary-color);
	padding: 40px;
	text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.navigation a:hover{
    color: var(--primary-color);
	font-weight: 700;
	text-decoration: underline;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 80%;
}

.hero h1 {
    display: block;
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 300%;
    background-color: var(--accent1-color);
}
.stats {
    position: absolute;
    bottom: 40px;
    background-color: var(--accent1-color);
    display: flex;
    justify-content: center;
    width: 80%;
    left: 10%;
}

.stats img {
    order: 2;
    float: right;
    padding: 1rem;
    padding-right: 2rem;
    width: 25%;
    opacity: 100%;
}

.stats p {
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
}

.history {
    display: grid;
    grid-template-columns: 0.75fr 1fr 0.75fr;
    grid-template-rows: auto auto;
    align-items: center;
    margin: 3rem auto 3rem;
    border-top: 1px solid var(--accent3-color);
    border-bottom: 1px solid var(--accent3-color);
	max-width: 1000px;
}

.history h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1/2;
    justify-self: center;
}

.history img {
    padding-bottom: 3rem;
}

.history p {
    padding-bottom: 3rem;
}

.group-images {
    display: grid;
    margin: 3rem auto 3rem;
	max-width: 1000px;
    align-items: center;

    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-content: center;
}

.group-images h2 {
    justify-self: center;
    grid-row: 1/2;
}

.group-images div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.group-images img {
    width: 15rem;
}

div figure {
    justify-items: center;
    text-align: center;
}

.block {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contact-title {
    background-color: var(--accent3-color);
    padding-bottom: 5px;
}

.contact-title h1 {
    padding-top: 2px;
}


.information {
    display: grid;
    padding-top: 3rem;
    grid-template-columns: 50px 350px auto;
    grid-template-rows: 55px 50px 50px 50px 100px;
}

.information img {
    height: 45px;
    grid-column: 1;
    align-items: center;
}

.information p {
    grid-column: 2;
    text-align: left;
    padding-left: 15px;

}

.map {
    grid-column: 3;
    grid-row: 1/5;
    padding-top: 50px;
    border: 0;
}

.information h2 {
    grid-column: 1/2;
    grid-row: 1;
    padding-bottom: 10px;
}

.row-2 {
    grid-row: 2;
}

.row-3 {
    grid-row: 3;
}

.row-4 {
    grid-row: 4;
}

.employees {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--accent3-color);
}

.top-separation {
    padding-top: 10px;
    border-top: 1px solid var(--accent3-color);
}

.options p{
    padding-top: 5px;
}

.bold {
    font-weight: bold;
    color: var(--secondary-color);
}

.newsletter-subscription {
    padding: 7px;
}

.wireframe {
    color: var(--accent1-color);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    grid-column: 1;
    padding-top: 27px;
}

.wireframe:hover{
    color: var(--primary-color);
}