/**This is try comment on css**/

:root {
    --border: 1px;
    --color: steelblue;
    --text-align: center;
    --padding: 1rem;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border) solid var(--color);
    padding: 4px;
    box-shadow: 0 0 10px;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border) solid rgba(75, 78, 110, 0.158);
    padding: var(--padding);
    background-color: #dbedf8;
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border) solid #000;
    text-align: var(--text-align);
}